body {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  background-color: transparent;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-spacing {
  margin-left: 250px; /* Adjust the value as needed */
}
.back-to-hub-button {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px; /* set the margin-bottom to adjust the space between h2 and the next element */
  padding: 20px 80px; /* Adjust the padding to make the button bigger */
  font-size: 30px; /* Increase font size */
  font-weight: bold;
  background-color: #363636; /* Set background color to black */
  color: #fff;
  border: none;
  border-radius: 10px; /* Optional: add border-radius for rounded corners */
  text-decoration: none;
}

.back-to-hub-button:hover {
  background-color: #767676; /* Darker color when hovered */
}
#splashtext {
  font-size: 36px; /* set the font size to your desired value */
  color: white; /* set the text color to white */
}
.clock {
  text-decoration: none;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.693);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
  width: 150px;
  font-family: poppins;
  font-size: 18px;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  border-radius: 10px;
  color: white; /* Set the text color to white */
  transform: translateX(-50%);
  text-align: center; /* Center the text */
  background-attachment: fixed;
  order: -1;
  margin-top: 10px;
}
.title {
  position: relative;
  margin-bottom: 10px;
  top: -10vh;
  font-size: 9vh;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px 0px 5px 5px;
}
@media (orientation: portrait) {
  .title {
    position: relative;
    margin-bottom: 10px;
    top: -10vw;
    font-size: 10vw;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
  }
}
.description {
  position: absolute;
  top: 240px;
  font-size: 35px;
  color: snow;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  transition: transform 0.2s;
  cursor: default;
}
.main {
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchbar {
  top: -15vh;
  padding: 1vw;
  width: 45vh;
  position: relative;
  border-radius: 5px;
  background: #353535;
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: white;
  transition: 0.2s;
}
@media (orientation: portrait) {
  .searchbar {
    top: -15vw;
    padding: 1vw;
    width: 45vw;
    position: relative;
    border-radius: 5px;
    background: #353535;
    text-align: center;
    font-size: 24px;
    border: none;
    outline: none;
    color: white;
    transition: 0.2s;
  }
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vw;
  background-color: var(--bg-c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}
.particles-js-canvas-el {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.key-button {
  cursor: pointer;
  border: 2px;
  transition: 0.2s;
  margin-top: 10px;
  font-size: 1.3vw;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: white;
  height: 50px;
  width: 19%;
  padding: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -13.75vh;
}

button {
  cursor: pointer;
  border: 2px;
  transition: 0.2s;
  margin-top: 10px;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: white;
  height: 50px;
  width: 19%;
  padding: 10px;
  text-align: center;
}
