@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  background: var(--page);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.search-container {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: var(--text-placeholder);
  opacity: 1; /* Firefox */
}

.main-search {
  width: 50vw;
  height: 5vh;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  background: var(--background-secondary);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
}

.fixed-nav-bar-container {
  min-width: 5vw;
  min-height: 10vh;
  display: inline;
}

.footer {
  background-color: transparent;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-spacing {
  margin-left: 250px; /* Adjust the value as needed */
}

.lower-footer {
  height: 8vh;
  margin: 0;
  padding-top: 1vh;
  text-decoration: none;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.lower-footer > h1 {
  color: var(--text-primary);
  text-align: center;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.lower-footer > h1 > a {
  text-decoration: none;
  color: var(--text-primary);
  margin-right: 1vw;
  margin-left: 1vw;
  font-family: 'Poppins', sans-serif;
}

.featured {
  background-color: var(--background);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  min-height: 15vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  color: var(--text-primary);
}

.featured-text {
  width: 100vw;
}

.featured-text-box {
  background: var(--background);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
  width: 9vw;
  height: 4vh;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2vh;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
}

.featured-text-box > h1 {
  padding-top: 0.5vh;
  font-size: 18px;
  text-align: center;
  color: var(--text-primary);
  filter: brightness(80%);
}

.fixed-nav-bar {
  top: 0;
  letter-spacing: 2px;
  font-size: 22px;
  left: 0;
  right: 0;
  min-height: 10vh;
  padding: 0 25px;
  box-sizing: border-box;
  background-color: var(--background);
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
  transition: 0.35s ease;
  border-radius: 15px;
  width: fill;
  margin: 15px;
  z-index: 100;
  position: fixed;
}

.fixed-nav-bar .icon:hover {
  transform: translateY(-55%) scale(1.03);
  font-weight: 800;
}

.fixed-nav-bar .icon {
  position: absolute;
  float: left;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  color: var(--text-primary);
  font-weight: 600;
  margin-left: 5px;
  font-style: normal;
  text-decoration: none;
  transition: all 0.2s ease;
  height: 0.5vh;
  width: 0.5vh;
  top: 18%;
}

.fixed-nav-bar-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 18px;
  color: var(--text-primary);
  font-weight: 600;
  right: 2%;
}

.fixed-nav-bar-right .navbar-link {
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 2.5vh;
  cursor: pointer;
  color: var(--text-primary);
  font-weight: 800;
  right: 2%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  text-decoration: none;
  transition: all 0.2s ease;
  transform: translateX(0%);
}
@media (orientation: portrait) {
  .fixed-nav-bar-right .navbar-link {
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 2.5vw;
    cursor: pointer;
    color: var(--text-primary);
    font-weight: 800;
    right: 2%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-decoration: none;
    transition: all 0.2s ease;
    transform: translateX(0%);
  }
  .fixed-nav-bar-right .navbar-link:hover {
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 3vw;
    transform: translateX(-20%);
  }
}

.fixed-nav-bar-right .navbar-link:hover {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 3vh;
  transform: translateX(-20%);
}

.navbar-icon {
  margin-right: 5px;
  transition: all 0.2s ease;
}

.weird-icon {
  line-height: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}

.navbar-link {
  margin-right: 5px;
  font-size: 3vh;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.navbar-link:hover > .settings-icon {
  animation: spin 0.5s;
  animation-timing-function: cubic-bezier(0, 1.04, 0.91, 0.99);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img {
  width: 6vh;
  padding-top: 5px;
}
@media (orientation: portrait) {
  img {
    width: 6vw;
  }
}

.column {
  width: 145px;
  transition: all 0.2s ease;
  cursor: pointer;
  background: var(--column);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
}

.column img {
  position: absolute;
  width: 145px;
  height: 145px;
  border-radius: 0px;
  transition: all 0.2s ease;
  border-radius: 10px;
}

.column p {
  width: 145px;
  height: 19px;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: var(--text-primary);
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  padding-top: 136px;
  padding-bottom: 12px;
}

.column:hover {
  transform: scale(1.2);
}

.column:hover .label {
  transform: translateX(-50%) scale(1.3);
}

.input-container {
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

input {
  padding: 20px;
  width: 550px;
  border-radius: 5px;
  background: var(--column);
  text-align: center;
  font-size: 24px;
  border: none;
  outline: none;
  color: var(--text-primary);
  transition: 0.4s;
}

/* input:focus {
  width: 100vw;
  height: 100vh;
  margin-top: -75vh;
  transition: 0.4s;
} */

select {
  padding: 20px;
  border-radius: 5px;
  background: var(--column);
  color: var(--text-primary);
  font-size: 20px;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.container-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
  flex-direction: row;
  margin-top: 10px;
}
.pinned-apps {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3em;
}

.title {
  font-size: 10vh;
  color: var(--title);
  font-family: 'Inter', sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px 0px 5px 5px;
  margin-top: 20vh; /* Adjusted margin-top */
  margin-bottom: 2vh; /* Adjusted margin-bottom */
  text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
}

@media (orientation: portrait) {
  .title {
    position: relative;
    top: -10vw;
    font-size: 10vw;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0px 0px 5px 5px;
  }
}

.description {
  position: absolute;
  top: 240px;
  font-size: 35px;
  color: snow;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  transition: transform 0.2s;
  cursor: default;
}

.main {
  letter-spacing: 0px;
  font-family: 'Inter', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0%;
  position: absolute;
  z-index: 99;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0vw;
  background-color: var(--bg-c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.particles-js-canvas-el {
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.shortcut-container {
  height: 6vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.shortcut {
  width: 5vw;
  height: 5vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 1vh;
  transition: all 0.3s;
}

.shortcut:hover {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  transition: all 0.3s;
}

#geforce {
  background: url('../media/icons/gfn.png');
  background-size: cover;
}

#roblox {
  background: url('../media/icons/roblox.png');
  background-size: cover;
}

#discord {
  background: url('../media/icons/discord.jpg');
  background-size: cover;
}

#eagler {
  background: url('../media/icons/mc.webp');
  background-size: cover;
}

#youtube {
  background: url('../media/icons/youtube.png');
  background-size: cover;
}

#tiktok {
  background: url('../media/icons/tiktok.png');
  background-size: cover;
}

#suggestions {
  display: none;
}

.focus {
  background: #fff;
}

.sug {
  height: 3em;
  width: 30vw;
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
}

.sugelement {
  width: auto;
  height: 25px;
  margin: 10px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  background: var(--background-secondary);
  -webkit-backdrop-filter: var(--background-filter);
  backdrop-filter: var(--background-filter);
}

.sugelement:hover {
  cursor: pointer;
}

.support-button {
  display: inline-block;
  margin-top: 25vh; /* Adjusted margin-top */
  margin-bottom: 50px; /* Adjusted margin-bottom */
  padding: 20px 80px;
  font-size: 30px;
  font-weight: bold;
  background-color: #363636;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.support-button:hover {
  background-color: #767676; /* Darker color when hovered */
}
.back-to-hub-button {
  display: inline-block;
  margin-top: 5vh; /* Adjusted margin-top */
  margin-bottom: 15px; /* Adjusted margin-bottom */
  padding: 20px 80px;
  font-size: 30px;
  font-weight: bold;
  background-color: #363636;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.back-to-hub-button:hover {
  background-color: #767676; /* Darker color when hovered */
}

.request-button {
  display: inline-block;
  margin-top: 0px; /* Adjusted margin-top */
  margin-bottom: 15px; /* Adjusted margin-bottom */
  padding: 20px 80px;
  font-size: 30px;
  font-weight: bold;
  background-color: #363636;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.request-button:hover {
  background-color: #767676; /* Darker color when hovered */
}
.report-button {
  display: inline-block;
  margin-top: 0px; /* Adjusted margin-top */
  margin-bottom: 20px; /* Adjusted margin-bottom */
  padding: 20px 80px;
  font-size: 30px;
  font-weight: bold;
  background-color: #363636;
  color: #fff;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.report-button:hover {
  background-color: #767676; /* Darker color when hovered */
}

#splashtext {
  font-size: 24px; /* Adjusted font size */
  color: white;
  font-family: sans-serif; /* Replace 'YourCustomFont' with the actual font name */
}
.clock {
  text-decoration: none;
  position: absolute;
  background-color: rgba(48, 48, 48, 0.693);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.4);
  width: 150px;
  font-family: poppins;
  font-size: 18px;
  bottom: 20px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  border-radius: 10px;
  color: white; /* Set the text color to white */
  transform: translateX(-50%);
  text-align: center; /* Center the text */
  background-attachment: fixed;
  order: -1;
  margin-top: 10px;
}
.rwd-table {
  color: #ddd; /* Light text color */
  border-radius: 15px; /* Adjust as needed */
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px;
  background-color: #333; /* Dark background color */
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
  position: absolute; /* Position absolute for fixed placement */
  top: 150px; /* 100px from the top */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.rwd-table tr {
  border-color: #555; /* Border color */
  text-align: center;
}

.rwd-table th,
.rwd-table td {
  margin: 0.5em 1em;
  padding: 1em;
  background-color: #444; /* Cell background color */
}

.rwd-table td:before {
  color: #aaa; /* Lighter text color */
  font-weight: bold;
  margin-right: 0.5em;
}

.rwd-table a {
  color: #3da6ae; /* Link color */
}

@media (min-width: 480px) {
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    margin: 0;
    padding: 1em !important;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table td:before {
    display: none;
  }
}
